body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/******************************************************/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/***************************************************************************/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/***************************************************************************/

/* YMCA logo in navbar */
#ymca-logo {
    height: 50px;
    width: 70px;
}
/***********************/

/* DataTables Editor form height */
div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTE div.DTE_Body_Content {
    max-height: 75vh !important;
}
/*********************************/

/* DataTables Editor form weekday formatting */
div.DTE div.DTE_Body_Content div.DTE_Form_Content div.DTE_Field.DTE_Field_Type_datetime.DTE_Field_Name_Program\.EndDate {
    padding-bottom: 10px;
}

div.DTE div.DTE_Body_Content div.DTE_Form_Content div.DTE_Field.DTE_Field_Type_checkbox, div.DTE div.DTE_Body_Content div.DTE_Form_Content div.DTE_Field.DTE_Field_Type_checkbox label.DTE_Label {
    padding-top: 0px;
    padding-bottom: 0px;
}
/*********************************************/

/* viewParticipants Form  */
participants-template {
    padding-left: 6px;
}
/**************************/

/* Disabled users */
.disabled-user {
    color: darkgrey;
}

#Users tbody tr[class*='disabled-user'][class*='selected'] {
    color: #737373;
}
/******************/

/* Custom button colors -- LVHFA */
.btn-primary, .btn-default {
    background-color: #009786;
    border-color: #111;
    color: white;
}

.btn-primary:focus, .btn-default:focus {
    background-color: #02675b;
    border-color: #111;
    color: white;
}

.btn-primary:hover, .btn-default:hover {
    background-color: #02675b;
    border-color: #111;
    color: white;
}

.btn-primary:active:focus, .btn-default:active:focus {
    background-color: #02675b;
    border-color: #111;
    color: white;
}
/*********************************/