@using ymca_application.Extensions

@{
    ViewBag.Title = "Users";
    var Role = User.Identity.GetRole();
}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/Editor-1.9.6/css/editor.dataTables.min.css" />
</head>
<body class="dataTables">
    <div class="container">
        <h1>Manage Users</h1>
        <br />
        <table id="Users" class="display text-nowrap compact" style="width:100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Join Date</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>

@section scripts{
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/DataTables/Editor-1.9.6/js/dataTables.editor.min.js"></script>

    <script>

        var userForm, defaultUserFormLength = 25, defaultUserFormSort = 0;
        $(document).ready(function () {

            // Disable autocomplete on form fields
            $.extend(true, $.fn.dataTable.Editor.Field.defaults, {
                attr: {
                    autocomplete: 'off'
                }
            });

            // User Form
            var userForm = new $.fn.dataTable.Editor({
                ajax: '/api/GetUsers',
                table: '#Users',
                fields: [
                    {
                        label: "First Name:",
                        name: "AspNetUsers.FirstName"
                    },
                    {
                        label: "Last Name:",
                        name: "AspNetUsers.LastName"
                    },
                    {
                        label: "Email:",
                        name: "AspNetUsers.Email"
                    },
                    {
                        label: "Phone Number:",
                        name: "AspNetUsers.PhoneNumber"
                    },
                    {
                        label: "Address:",
                        name: "AspNetUsers.Address1"
                    },
                    {
                        label: "Address 2:",
                        name: "AspNetUsers.Address2"
                    },
                    {
                        label: "City:",
                        name: "AspNetUsers.City"
                    },
                    {
                        label: "State:",
                        name: "AspNetUsers.State"
                    },
                    {
                        label: "Zip:",
                        name: "AspNetUsers.Zip"
                    },
                    {
                        label: "Date Joined:",
                        name: "AspNetUsers.JoinDate"
                    },
                    {
                        label: "Role:",
                        name: "AspNetUsers.Role",
                        type: "select",
                        placeholder: "Select a role"
                    },
                    {
                        label: "Active:",
                        name: "AspNetUsers.Active",
                        type: "checkbox",
                        options: [
                            { label: "", "value": "True" }
                        ],
                        separator: "|",
                        unselectedValue: "False"
                    },
                    {
                        name: "AspNetUsers.LockoutEndDateUtc",
                        type: "hidden"
                    }
                ]
            });

            // Disable date field from being edited.
            userForm.field('AspNetUsers.JoinDate').disable();

            // On initCreate event.
            userForm.on('initCreate', function () {
                // Default active to true on create event.
                userForm.field('AspNetUsers.Active').val("True")
            });

            // On initSubmit event.
            userForm.on('initSubmit', function () {
                // If the Active is active on form submission set the date to null; else, set the date to the end of time.
                if (userForm.field('AspNetUsers.Active').val() === "True") {
                    userForm.field('AspNetUsers.LockoutEndDateUtc').set(null);
                } else {
                    userForm.field('AspNetUsers.LockoutEndDateUtc').set('9999-12-31');
                }
            });

            // User table
            var userTable = $('#Users').DataTable({
                autoWidth: false,
                select: {
                    style: 'single'
                },
                // Default table lengths
                lengthMenu: [[defaultUserFormLength, 50, 100, -1], [defaultUserFormLength, 50, 100, "All"]],
                // Table data source
                ajax: {
                    url: '/api/GetUsers'
                },
                // Table columns
                columns: [
                    { data: "AspNetUsers.FirstName" },
                    { data: "AspNetUsers.LastName" },
                    { data: "AspNetUsers.Email" },
                    { data: "AspNetUsers.JoinDate" }
                ],
                // Control button layout
                dom: '<"floatRight"B><"clear">lfrtip',
                // Default table order
                order: [[0, "asc"]],
                buttons: [
                    { extend: "create", editor: userForm, formTitle: 'Create new user', attr: { id: 'newButton' } },
                    { extend: "edit", editor: userForm, formTitle: 'Edit existing user', attr: { id: 'editButton' } },
                    {
                        // Show default view filter button
                        text: 'Show Default View', action: function (e, dt, node, config) {
                            userTable.search('')
                                .columns().search('')
                                .columns().order('')
                                .page.len(defaultUserFormLength)
                                .column(defaultUserFormSort).order('asc').draw();
                        }
                    }
                ]
            });

            // On select deselect event.
            userTable.on('select deselect', function () {
                // Disable buttons unless row is selected.
                var selectedRows = userTable.rows({ selected: true }).count();
                userTable.button(1).enable(selectedRows === 1);
            });

        });
    </script>
}