@{
    ViewBag.Title = "General Information";
}
<h2>@ViewBag.Title.</h2>
<h3>Non-Members</h3>

<p>Information about Non-Member accounts (pricing, signing up, etc)</p>

<h3>Members</h3>

<p>Information about Member accounts (pricing, signing up, etc)</p>
