@using ymca_application.Extensions
@{
    ViewBag.Title = "General Users";
}
<h2>@ViewBag.Title</h2>

<div class="info">
    <br />
    <p>In order to make use of our website and sign up for programs at the YMCA, you will need to be a registered user. This will put you in a category of Member, or Non-Member, depending on which option is best for you. Continue reading below to learn how to get registered!</p>
    <h2>Creating a Non-Member Account</h2>
    <p>As a non-member, you will get access to all of the world class programs we have to offer, along with access to our state-of-the-art facilities. Non-member's will pay the higher non-member fee when signing up for programs, but do not need to pay the monthly fee associated with being a member. This option is best suited for those looking to sign up for only a few programs over a short period of time. Follow these steps to get your non-member account set up today!</p>
    <ol>
        <li>Click "Register", located in the upper right-hand corner of our web-page.</li>
        <li>Fill out all information fields.</li>
        <li>Click "Register" at the end of the registration form.</li>
        <li>Congrats! Your account has been created and you can start signing up for programs.</li>
        <li>If you wish to upgrade to a Member Account, continue reading below.</li>
    </ol>
    <h2>Creating a Member Account</h2>
    <p>As a member, you will get access to all of the world class programs and facilities offered to non-members, but at a reduced price! Price reductions may vary from program to program, but you can check the price differences by taking a look at the individual program offerings on our webpage. This option is best suited for those looking to sign up for YMCA programs regularly, for an extended period of time. If that sounds like you, become a member today and take advantage of these awesome savings!</p>
    <ol>
        <li>If you do not already have a YMCA account with us, follow the instructions on creating a non-member account above.</li>
        <li>Once you have a YMCA account created, or if you already have one active, call 608.345.6789 to have your account upgraded!</li>
    </ol>
    <h2>Registering For a Program</h2>
    <p>Registering for a program is the same for both members and non-members, the only difference is the cost. You will need to make sure you are a registered user before attempting to go through this process (check section: Creating a Non-Member Account).</p>
    <ol>
        <li>
            Log in to your YMCA account.
            <ol>
                <li>Click “Log in” in the upper right-hand corner of the website.</li>
                <li>Enter your email address and password.</li>
                <li>Click “Log in”.</li>
            </ol>
        </li>
        <li>Click “Programs” found along the upper ribbon on the website.</li>
        <li>You should now see a table of programs on the webpage. Search through the programs until you find one you want to register for.</li>
        <li>Place your cursor over the program you wish to register for and double click.</li>
        <li>All of the program information will now be shown in a pop-up window, read it over to make sure you wish to register for the program. Once you are ready to register, click “Register” in the bottom right corner of the pop-up window.</li>
        <li>If you receive a pop-up that states “Register Complete!” then the registration was a success.</li>
    </ol>
    <p>After clicking “Register” in the program information pop-up window, it is possible your registration will be unsuccessful. There are three reasons this could occur.</p>
    <ol>
        <li>If you get a pop-up window stating “You are already registered for this program”, then you most likely already registered and have nothing to worry about. If you believe this is a mistake, then you can try unregistering for the program (check section: Cancelling Program Registration) and then re-registering.</li>
        <li>If you get a pop-up window stating “There aren’t any available spaces for this program...” then that program is currently full, and you will need look for another time the program is available.</li>
        <li>If you get a pop-up window stating “You are already registered for a program offered at this time...”, then there is a time conflict in programs you are attempting to register for. You will either need to cancel your registration for other conflicting programs (you can do so by calling 608.345.6789) or not take the program you are currently trying to register for.</li>
    </ol>
    <h2>Searching for a Program</h2>
    <p>If you would like to search for a specific program within the programs table, you can do so by using our build in search option. You will want to start by following steps 1 and 2 in Registering For a Program to navigate yourself to the programs table. Then, continue with the following:</p>
    <ol>
        <li>Click the “Search” field above the programs table toward the right-hand side.</li>
        <li>Type the name of the class you wish to search for.</li>
        <li>The programs table should filter and display the classes that match your search.</li>
    </ol>
    <hr>
    <h2>Additional Help</h2>
    <p>If you are still in need of assistance, feel free to contact our support team via email or phone through the contact information below.</p>
    <p>Some common reasons to call are:</p>
    <ol>
        <li>You wish to upgrade to a member account or downgrade to a non-member account.</li>
        <li>You wish to have your account deactivated entirely.</li>
        <li>You wish to cancel your registration for a class.</li>
    </ol>
    <br />
    <address>
        <p><strong>Phone:</strong>608.345.6789</p>
        <p><strong>Email:</strong>   <a href="mailto:ymcasupport@example.com">ymcasupport@example.com</a></p>
    </address>
</div>

