@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    1140 Main St<br />
    La Crosse, WI 54601<br />
    608.345.6789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ymcasupport@example.com">ymcasupport@example.com</a><br />
</address>