@using ymca_application.Extensions
@{
    ViewBag.Title = "Help";
}
<h2>@ViewBag.Title</h2>

<div class="info">
    <p>Check out our user manual at the following link for assistance navigating your YMCA experience!</p>
    @if (User.Identity.GetRole() > 3)
    {
        <a href="~/Content/Help/IT_Manager_Manual.pdf">User Manual</a>
    }
    else if (User.Identity.GetRole() > 2)
    {
        <a href="~/Content/Help/Administrator_Manual.pdf">User Manual</a>
    }
    else if (User.Identity.GetRole() > 0)
    {
        <a href="~/Content/Help/Staff_Manual.pdf">User Manual</a>
    }
    else
    {
        <a href="~/Content/Help/Users_Manual.pdf">User Manual</a>
    }
    <hr />
    <p>If you are still in need of assistance, feel free to contact our support team via email or phone through the contact information below.</p>
</div>

<div class="info">
    <address>
        <strong>Support:</strong>   <a href="mailto:ymcasupport@example.com">ymcasupport@example.com</a><br />
        608.345.6789
    </address>
</div>


